<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Descubriendo nuevos autores" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convocatoria Legión</title>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'bodyTagId');</script>
    <!-- End Google Tag Manager -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a077a0470e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    {{!--
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet"> --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <script>
        function submitEmailForm(form) {
            var obj = new XMLHttpRequest();
            obj.onreadystatechange = function () {
                if (obj.readyState == 4) {
                    if (obj.status == 200) {
                        var res = JSON.parse(obj.responseText);
                        alert(res.message);
                    }
                    else {
                        alert("XMLHttp status " + obj.status + ": " + obj.statusText);
                    }
                }
            };
            obj.open("post", form.action, true);
            obj.setRequestHeader("Content-Type", "application/json"); // NOTICE: "application/json"
            obj.send(JSON.stringify({ name: form.name.value, birthday: form.birthDate.value, email: form.email.value, number: form.tel.value, checkbox: form.checkBox.value }));
            alert("¡Bienvenido a la legión!");
            $(".formInput").val(" ");
            return false;
        }
    </script>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=bodyTagId" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="header specialEliteFont bg-dark">

        <h1>Me llaman legión</h1>
        <h4>Porque somos muchos.</h4>

    </div>
    <div class="bodie" id="bodyTagId">
        {{{body}}}
    </div>

    <div class="footer specialEliteFont bg-dark">

        <h3>Alejandro Vilpa.</h3>
        <h6>Todos los derechos reservados</h6>

    </div>


    <script src="/assets/js/script.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>