<div class="inicioDiv">
    <h1>Bases de la convocatoria</h1>
    <h3 class="specialEliteFont text-left">Me llaman legión, porque somos muchos.</h3>
    <br>
    <br>
    <h3>Bases de la convocatoria</h3>
    <br>
    <p>
        <span class="specialEliteFont text-primary">Publicación:</span> Antología <br>
        <span class="specialEliteFont text-primary">Abierto a:</span> Mayores de edad entre 18 y 35 años <br>
        <span class="specialEliteFont text-primary">Convocan:</span> Editorial Círculo Rojo y el escritor mexicano,
        Alejandro Vilpa. <br>
        <span class="specialEliteFont text-primary">País:</span> México.

    </p>
    <br>
    <br>
    <p>

        <span class="specialEliteFont">Primera</span> <br>
        El objetivo de esta convocatoria es descubrir nuevos talentos mexicanos e introducirlos al mercado editorial.
        Podrán participar
        autoras y autores de habla hispana que residan en México y su edad oscile entre los 18 y 35 años. Con un relato
        corto de máximo <span class="font-weight-bold">2000 caracteres, contando título de la obra</span>;
        escrito en tipografía Times New Roman 12. <br> <br> <br>

        <span class="specialEliteFont">Segunda</span> <br>
        Esta convocatoria permanecerá abierta para cualquier autor que desee introducirse en el mundo editorial. Cada
        semana
        habrá nuevos seleccionados. <br> <br><br>

        <span class="specialEliteFont">Tercera</span> <br>
        Habrá posibilidad de enviar más de un relato por autor (máximo 3) <br> <br><br>

        <span class="specialEliteFont">Cuarta</span> <br>
        Al decidir participar en la convocatoria, el autor concursante garantiza que:
    <ul>
        <li>La obra que está enviando es original e inédita (no ha sido publicada en ningún formato digital o físico)
        </li>
        <li>Que la autoría le corresponde exclusivamente al autor o autora concursante</li>
        <li>La obra en cuestión no se encuentra escrita en otro concurso en espera de dictaminación</li>
        <li>Que no se ha contraído un compromiso hacia terceros con respecto a la obra</li>
        <li>Que dicho texto no es una copia o modificación de otro que pertenece a otro autor</li>
    </ul>. <br>

    <span class="specialEliteFont">Quinta</span> <br>
    De resultar seleccionado para la convocatoria, habrá un costo de inscripción a la convocatoria de: $2,600.00 MXN y
    deberá
    firmarse una carta de cesión de derechos de explotación del relato. <br> <br><br>

    <span class="specialEliteFont">Sexta</span> <br>
    Las obras deberán enviarse a: <a href="mailto:alecvipa@gmail.com" target="_blank"
        rel="noopener noreferrer">alecvipa@gmail.com</a>, con los siguientes documentos: <br>
    <ul>
        <li>Manuscrito en word</li>
        <li>Datos del autor: Nombre y apellidos, seudónimo (si aplica), edad, lugar de residencia, teléfono de contacto
            y correo electrónico</li>
    </ul> <br>

    <span class="specialEliteFont">Séptima</span> <br>
    Las regalías obtenidas de la antología se destinarán a promoción del libro y de los autores que la conforman, en
    medios digitales como: Google Adwords, SEO y redes sociales. Para mantener estimulado el mercado con campañas en
    Latinoamérica y España
    <br> <br><br>

    <span class="specialEliteFont novena">Octava</span> <br>
    Si el seleccionado se inscribe a la convocatoria y paga la cuota anterior, este tendrá los siguientes beneficios: <br>
    <br>
    <ul>
        <li>
            Los y las autoras recibirán 3 ejemplares físicos de una tirada total de 500 ejemplares. Los restantes se
            enviarán a medios de comunicación
            e influencers de México y el mundo, para entregar difusión.
        </li>
        <li>
            Parte de los ejemplares físicos se conservarán para gestionar la presentación y firma del libro con las
            autoras y los autores participantes.
        </li>
        <li>
            Se publicará una edición en ebook que se encontrará en todas las principales plataformas de México y el
            mundo (Amazon, la casa del libro, el corte inglés, Librerías Gandhi, etc...)
        </li>
        <li>
            Se tendrá también la opción de impresión bajo demanda en Europa y Latinoamérica
        </li>
        <li>
            La imagen de todos las autoras y los autores será difundida en redes sociales y otros medios de internet con
            una audiencia de miles de seguidores
        </li>
        <li>
            Las autoras y los autores serán invitados a pláticas en línea para hablar de su experiencia en la primera
            edición de Legión y serán seleccionados al azar para asistir a entrevistas a lo largo de un año
        </li>
    </ul> <br>

    <span class="specialEliteFont">Novena</span> <br>
    La participación del autor o autora, significa la aceptación total y absoluta de las presentes bases
    <br> <br><br>
    <span class="specialEliteFont">Décima</span> <br>
    Por favor, revisa nuestro <span class="specialEliteFont text-primary"> <a href="/avisoDePrivacidad">aviso de privacidad.</a> </span>
    <br> <br><br>
    <p class="lead">
        <a class="btn btn-lg btn-dark blink" href="mailto:alecvipa@gmail.com" role="button" ><button onclick="return gtag_report_conversion('http://example.com/your-link')">PARTICIPAR</button></a>
    </p>
    </p>

</div>