<div class="inicioDiv">
    <h1>Formulario y Bases de la convocatoria</h1>
    <h3 class="specialEliteFont">Me llaman legión, porque somos muchos.</h3>
    <br>
    <br>
    <h3>Plazos de entrega</h3>
    <br>
    <p>
        Todos los plazos de entrega y respuesta que debe seguir el autor o la autora, estarán puntualizados
        en el correo electrónico que recibirán. El equipo estará en contacto contigo en todo momento, para cuestiones
        relacionadas con la cesión de derechos, envío de la obra, información sobre el autor o la autora, etc...
    </p>
    <br>
    <br>
    <h4>Bases de la convocatoria y condiciones de propiedad intelectual</h4>
    <br>
    <p>
    <ul>
        <li>
            El participante se compromete estrechamente a enviar obras que pertenezcan únicamente a su autoría,
            que no sean una copia de otra obra, que sea de naturaleza inédita y que no estén participando en otro
            concurso en espera de dictaminación.
        </li>
        <li>
            El o la autora enviará únicamente obras que no infringan con la ley de derechos de terceros o que incluyan
            infringir la imagen o libertad de otro autor o autora. Así pues, este declara que la obra concursante es
            enteramente
            de los derechos del autor o autora que participa; que tiene consentimiento escrito de las personas mostradas
            en dicho texto
            y tiene la total disponibilidad de difundirlo por cualquie medio.
        </li>
        <li>
            El participante acepta tomar cualquier responsabilidad derivada del desacato de las clausulas anteriores.
            Bajo cualquier término.
        </li>
        <li>
            De ser seleccionada la obra de determinado participante para ser publicada en: <span
                class="specialEliteFont">Me llaman legión, porque somos muchos.</span>
            El autor deberá firmar la carta de cesión de derechos correspondiente y completar los formularios para
            difusión en beneficio del autor o autora participante.
            En ningún momento será posible un reembolso de la cuota de inscripción.
        </li>
        <li>
            Al aceptar los términos, el participante acepta la difusión, publicación, representación y reproducción de
            la imagen del autor. Para efectos de publicidad de
            la antología: <span class="specialEliteFont">Me llaman legión, porque somos muchos.</span>
        </li>
        <li>
            El escritor mexicano, Alejandro Vilpa, no se hace responsable del uso indebido que terceros le puedan dar a
            la antología: <span class="specialEliteFont">Me llaman legión, porque somos muchos.</span>
        </li>
        <li>
            El autor o la autora seleccionada, no podrá difundir información de la publicación o la obra seleccionada
            durante el proceso de edición y maquetación de la antología (redes sociales, web blogs, etc...). Únicamente
            se permitirá, cuando esté
            publicada la obra en los canales correspondientes.
        </li>
    </ul>
    </p>
    <br>
    <br>
    <br>
</div>
<div class="formInscribe">
    <h3 class="specialEliteFont">Cuota de inscripción: $2,600.00 MXN</h3>
    <form action="/ajax/email" method="POST" onsubmit="return submitEmailForm(this);" class="trans1">
        <div class="form-group">
            <label for="exampleFormControlInput1">Nombre y apellidos</label>
            <input type="name" name="name" class="form-control formInput" id="exampleFormControlInput1"
                placeholder="Ana Camarena Ramírez" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Fecha de nacimiento</label>
            <input type="text" name="birthDate" class="form-control formInput" id="exampleFormControlInput1"
                placeholder="10/10/1994" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Teléfono de contacto</label>
            <input type="text" name="tel" class="form-control formInput" id="exampleFormControlInput1"
                placeholder="5550966628" required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Correo electrónico</label>
            <input type="email" name="email" class="form-control formInput" id="exampleFormControlInput1"
                placeholder="nombre@ejemplo.com" required>
        </div>
        <div class="custom-control custom-checkbox my-1 mr-sm-2">
            <input type="checkbox" name="checkBox" class="custom-control-input formInput" id="customControlInline"
                required>
            <label class="custom-control-label" for="customControlInline">Acepto términos y condiciones de
                participación; también política de privacidad. <span class="specialEliteFont">No se hará ningún
                    reembolso de la cuota de inscripción.</span></label>
        </div>
        <button type="submit" class="btn btn-dark btnSubmitForm">INSCRIBIRME</button>
    </form>
    <div class="ligaPago trans2">
        <div class="jumbotron">
            <h1 class="display-4 specialEliteFont pagarTitle">Bienvenido a la Legión, joven escritor.</h1>
            <p class="lead text-justify">Terminar Inscripción</p>
            <hr class="my-4">
            <p class="text-justify">Te pedimos que guardes el recibo de pago, en caso de que hubiera un problema.</p>
            <p class="lead">
                <a class="btn btn-lg btn-dark btnPagar blink" href="https://mpago.la/2ALPr5i" role="button">Pagar</a>
            </p>
        </div>
    </div>
</div>