.footer{
    height: 7rem;
    color: wheat;
    margin-top: 5%;
    padding-top: 2%;
    text-align: center;
}
.header{
    height: 9rem;
    color: wheat;
    padding-top: 2%;
    text-align: center;

}
.specialEliteFont{
    font-family: 'Special Elite', cursive;
}
.inicioDiv{
    margin-top: 3%;
    width: 60%;
    margin-left: 20%;
    text-align: justify;
}
.formInscribe{
    width: 60%;
    margin-left: 20%;
}
.inscribeBtn{
    margin-top: 2%;
}
