.footer{
    height: 7rem;
    color: wheat;
    margin-top: 5%;
    padding-top: 2%;
    text-align: center;
}
.header{
    height: 9rem;
    color: wheat;
    padding-top: 2%;
    text-align: center;

}
.pointer{
    cursor: pointer;
}
.specialEliteFont{
    font-family: 'Special Elite', cursive;
}
.inicioDiv{
    margin-top: 3%;
    width: 60%;
    margin-left: 20%;
    text-align: justify;
}
.formInscribe{
    width: 60%;
    margin-left: 20%;
}
.inscribeBtn{
    margin-top: 2%;
}
.ligaPago{
    margin-top: 3%;
}
.blink {
    animation: blinker 1s linear infinite;
  }
  @keyframes blinker {
    20% {
      opacity: 0.7;
    }
}
.btnPagar{
    color: wheat;
}
.avisoPrivacidadDiv{
    margin-top: 5%;
}
.contactoDiv{
    margin-top: 5%;
    margin-bottom: 15%;
}

@media (min-width: 401px) and (max-width: 768px) {
    .pagarTitle{
        font-size: 25px;

    }
    .btnPagar{
        width: 100%;
    }
    .titleContactoCerca{
        font-size: 25pt;
    }
}

@media (max-width: 400px) {
    .pagarTitle{
        font-size: 25px;

    }
    .btnPagar{
        width: 100%;
    }
    .titleContactoCerca{
        font-size: 25pt;
    }
}
